@import "tailwindcss";

:root {
  --primary: #005f73;
  --primaryDark: #004659;
  --secondary: #6ed6e4;
  --skyBlue: #4f7faf;
  --background: #f3f7fa;
  --deep: #0f172a;
}

html {
  scroll-behavior: smooth;
}
